.dark,
.dark * {
	// Deeper Smoky Elegance for Dark Mode
	$dark_text_color: #f0ede9;
	$dark_link_color: #6b3f52;
	$dark_bg_color: #141210;
	$dark_accent_color: #2d2e32;
	$dark_hover_color: #c49389;
	background-color: $dark_bg_color;
	color: $dark_text_color;
	border-color: $dark_accent_color;
	.about{
		img.light {
			display: none;
		}
		img.dark {
			display: inline;
		}
	}
	.post p {
		color: #e0ddd9;
	}

	.social [class^="icon-"] {
		color: $dark_text_color 
	}

	#posts-label {
		color: $dark_text_color;
		border-bottom: 1px solid $dark_accent_color;
	}

	@import 'ext/solarized-dark';
	.highlight, .highlight * 
	{
		background-color: #0f0d0b;
		color: #c0bbb6;
	}

	div.highlight-dark {
		padding: 5px 20px;
	}
	pre.highlight-dark, code {
		font-family: 'Consolas', Menlo, monospace;
		line-height: 1.4em;
		tab-size: 4;
	}

	.post-categories {
		li {
			background-color: $dark_accent_color;
			color: $dark_text_color;
		}
	}

	a {
		color: $dark_hover_color;
		&:hover {
			color: $dark_link_color;
		}
	}
	#title a {
		color: $dark_text_color;
		&:hover {
			color: $dark_hover_color;
		}
	}

	.posts-labelgroup {

		border-bottom: 1px solid $dark_accent_color;
		.search-results {
			background-color: $dark_accent_color;

			a {
				color: white;

				&:hover {
					background-color: $dark_bg_color;
				}
			}
		}
	
		.search-section i {
			background-color: transparent;
		}
	}
	
	.posts-labelgroup:hover {

		i {
			color: white;
		}

		input {
			color: white;
		}
	}


	.posts-labelgroup.focus-within {
	
		.search-section {
			background-color: $dark_accent_color;
		}

		input {
			color: $dark_text_color;
		}

		i {
			color: white;
		}
	}
}
.dark table {
	th, td {
		border: 1px solid $dark_accent_color;
	}
	th {
		background-color: #0a0908;
		color: $dark_text_color;
	}
}
