<!DOCTYPE html>
<html lang="{{ site.plainwhite.html_lang }}">

<head>
  {%- include head.html -%}
</head>

{%- if site.plainwhite.condensed_mobile contains page.layout -%}
{% assign condensed_class = "condensed" %}
{% else %}
{% assign condensed_class = "" %}
{%- endif -%}

<body>
  <main class="container">
    <section class="about">
      <div class="about-header {{condensed_class}}">
      <div class="about-title">
      <a href="{{ "/" | relative_url}}">
        {% if site.plainwhite.portfolio_image_dark and site.plainwhite.dark_mode %}
        <img class="light" src="{{site.baseurl }}/{{ site.plainwhite.portfolio_image }}" alt="{{ site.plainwhite.name }}" />
        <img class="dark" src="{{site.baseurl }}/{{ site.plainwhite.portfolio_image_dark }}" alt="{{ site.plainwhite.name }}" />
        {% else %}
        <img src="{{site.baseurl }}/{{ site.plainwhite.portfolio_image }}" alt="{{ site.plainwhite.name }}" />
        {% endif %}
      </a>
      <h2 id="title">
        <a href="{{ "/" | relative_url }}">{{ site.plainwhite.name }}</a>
      </h2>
      </div> 
      <p class="about-footer {{condensed_class}}">&copy; 2004 to {{ "now" | date: "%Y" }} <a rel="me" href="https://social.nokes.name/@greg">Greg Nokes</a>
</p>
		  <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>
      {%- if site.plainwhite.dark_mode -%}
      <div class="about-footer {{condensed_class}}">
        <p>Dark Mode
          <i class="icon-moon"></i>
          <label class="switch">
            <input type="checkbox" class="dark-mode-toggle">
            <span class="slider round" onclick="toggleDarkMode()"></span>
          </label>
        </p>
      </div>
      {%- endif -%}
      {{ footer }}
    </section>
    <section class="content">
      {{ content }}
    </section>
    <footer class="{{condensed_class}}">
      {{ footer }}
    </footer>
  </main>
  {% if site.plainwhite.dark_mode %}
  <script type="text/javascript" src="{{ "/assets/js/darkmode.js" | relative_url }}"></script>
  {% endif %}
  {%- if site.plainwhite.analytics_id -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.plainwhite.analytics_id }}');
  </script>
  {%- endif -%}
      </section>
    </main>
	<!-- Fathom - beautiful, simple website analytics -->
		<script src="https://cdn.usefathom.com/script.js" site="NFNFICZS" defer></script>
	<!-- / Fathom -->
  </body>
</html>
