---
layout: default
---
{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
<div class="post-container">
  <a id="posts"><ul class="posts"></a>
    <li>
      <h1 id="posts-label">Contact</h1>
    </li>
  <div class="post-meta">
 <!--   <ul class="post-categories">
      {%- for tag in page.categories -%}
      <li>{{ tag }}</li>
      {%- endfor -%}
    </ul> -->
  <!--  <div class="post-date"><i class="icon-calendar"></i>{{ page.date | date: date_format }}</div> -->
  <ul>
  	<li><strong>LinkedIn</strong>: <a class="post-link" href="https://www.linkedin.com/in/gregnokes/">Greg Nokes</a></li>
  	<li><strong>Mastodon</strong>: <a class="post-link" rel="me" href="https://social.nokes.name/@greg">@greg@social.nokes.name</a></li>
  </ul>
  </div>
  <div class="post">
    {{ content }}
  </div>
</div>
