<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <main class="container">
      <section class="about">
        <a href="/"><img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}"></a>
        <h2 id="title">
          <a href="/">{{ site.plainwhite.name }}</a>
        </h2>
       	  <p class="tagline">{{ site.plainwhite.tagline }}</p>
          <nav class="navigation">
            <ul>
				<li>
					<a href="/contact.html#posts">contact</a>
				</li>
				<!--<li>
					<a href="/about.html">about</a>
				</li> -->
				<li>
					<a href="/#posts">posts</a>
				</li>
              {% for link in site.plainwhite.navigation %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
			<li>
			</li>
            </ul>
          </nav>
          <ul class="social">
            {%- if site.plainwhite.social_links.github -%}
              <a href="https://github.com/{{ site.plainwhite.social_links.github }}">
                <li>
                  <i class="icon-github-circled"></i>
                </li>
              </a>
            {%- endif -%}
            {%- if site.plainwhite.social_links.linkedIn -%}
              <a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}">
                <li>
                  <i class="icon-linkedin-squared"></i>
                </li>
              </a>
            {%- endif -%}
            {%- if site.plainwhite.social_links.twitter -%}
              <a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}">
                <li>
                  <i class="icon-twitter-squared"></i>
                </li>
              </a>
            {%- endif -%}
          </ul>
        <p>&copy;
          {{ "now" | date: "%Y" }} Greg Nokes</p>
		  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>
		  <!-- <br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a> -->
      </section>
      <section class="content">
        {{ content }}
		
	  </section>
			
		<span class="navigation">
		{% if paginator.total_pages > 1 %}
		  {% if paginator.next_page %}	
		   <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
		  {% endif %}
		  {% if paginator.previous_page %}
		   ... <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
		  {% endif %}
		{% endif %}
	   </span>
		

    </main>
	<!-- Fathom - beautiful, simple website analytics -->
		<script src="https://cdn.usefathom.com/script.js" site="NFNFICZS" defer></script>
	<!-- / Fathom -->
  </body>
</html>
