---
layout: default
---

<!-- {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%} -->

{{ content }}

{%- if site.posts.size > 0 -%}
  <a id="posts"><ul class="posts"></a>
    <li>
      <h1 id="posts-label">posts</h1>
    </li>

    {%- for post in paginator.posts -%}
      <li>
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
  <!--        <ul class="post-categories">
            {%- for tag in post.categories -%}
              <li>{{ tag }}</li>
            {%- endfor -%}
          </ul> -->
          <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}</div>
        </div>
        <div class="post">
            {{ post.excerpt }}
        </div> 
		<div style="color: #555;">
			<a class="post-link" href="{{ post.url | relative_url }}">Read More...</a>
		</div>
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
